/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.formWrapper input {
  padding: 0.5rem;
  /* border-radius: 5px; */
  border-bottom: 1px solid #a7bcff;
  outline: none;
}
.formWrapper input:focus {
  border-bottom: 1px solid #000;
  
}

/* .sidebar {
  border-right: 1px solid #003cff;
} */

.search {
  border-bottom: 1px solid grey;
}